<a href="https://colab.research.google.com/github/dilaraesmer/HarvardX-PH526x-Using-Python-for-Research/blob/main/Week_1_Basics_of_Python_3_Part_3_Manipulating_Objects.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Dynamic Typing

In [2]:
L = [1,2,3]

In [3]:
M = [1,2,3]

In [4]:
L == M

True

In [5]:
L is M

False

In [6]:
id(L)

140164045728960

In [7]:
id(M)

140164047730368

In [8]:
id(L) == id(M)

False

In [9]:
L = [1,2,3]

In [10]:
M = L

In [11]:
M = list(L)

In [12]:

M == L

True

In [13]:
      x=3
y=x
y=y-1

In [14]:
print(x)

3

In [15]:
      L1 = [2,3,4]
L2 = L1
L2[0] = 24

In [16]:


print(L1)

[24, 3, 4]

In [17]:
      L = [2,3,4]
M1 = L
M2 = L[:]
M1 is M2

False


Copies

In [18]:
import copy
x = [1,[2]]
y = copy.copy(x)
z = copy.deepcopy(x)
y is z

False

Statements

In [19]:
if False:
    print("False!")
elif True:
    print("Now True!")
else:
    print("Finally True!")

Now True!

In [20]:
# Assume that n is a previously defined integer.
n = 4
if n%2 == 0:
    print("even")
else:
    print("odd")

even

For and While Loops

In [21]:
for x in range(10):
  print(x)

0
1
2
3
4
5
6
7
8
9

In [22]:
names = ["Jim", "Tom", "Nick", "Pam", "Sam", "Tim"]

In [23]:
names

['Jim', 'Tom', 'Nick', 'Pam', 'Sam', 'Tim']

In [24]:
for name in names:
  print(name)

Jim
Tom
Nick
Pam
Sam
Tim

In [25]:
for i in range(len(names)):
  print(names[i])

Jim
Tom
Nick
Pam
Sam
Tim

In [26]:
age = {}
age = dict()
age = {"Dilara": 16, "Jim": 38, "Deniz": 72, "Ali": 34 }

In [27]:
age

{'Dilara': 16, 'Jim': 38, 'Deniz': 72, 'Ali': 34}

In [28]:
age.keys()

dict_keys(['Dilara', 'Jim', 'Deniz', 'Ali'])

In [29]:
age.values()

dict_values([16, 38, 72, 34])

In [30]:
for name in age.keys():
  print(name, age[name])

Dilara 16
Jim 38
Deniz 72
Ali 34

In [31]:
for name in sorted(age.keys()):
  print(name, age[name])

Ali 34
Deniz 72
Dilara 16
Jim 38

In [32]:
for name in sorted(age.keys(), reverse = True):
  print(name, age[name])

Jim 38
Dilara 16
Deniz 72
Ali 34

In [33]:
is_prime = True
for i in range(2,n):
    if n%i == 0:
        is_prime = False
print(is_prime)

False

In [34]:
n=100
number_of_times = 0
while n >= 1:
    n //= 2
    number_of_times += 1
print(number_of_times)

7

List Comprehensions

In [35]:
numbers = range(10)

In [36]:
squares = []

In [37]:
for number in numbers:
  square = number**2
  squares.append(square)

In [38]:
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [39]:
squares2 = [number**2 for number in numbers ]

In [40]:
squares2

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [41]:
sum([i**2 for i in range(3)])

5

How can you use a list comprehension, including if and for, to sum the odd numbers from 0 through 9?

In [42]:
number_1 = sum([ x for x in range(9) if x % 2 == 1])
number_1

16

Reading and Writing Files

In [43]:
filename = "inputfile.txt"

In [46]:
for line in open(filename):
  print(line)

first line

second line

third line

In [47]:
for line in open(filename):
  line = line.strip()
  print(line)

first line
second line
third line

In [48]:
for line in open(filename):
  line = line.rstrip()
  print(line)

first line
second line
third line

In [49]:
for line in open(filename):
  line = line.rstrip().split(" ")
  print(line)

['first', 'line']
['second', 'line']
['third', 'line']

In [50]:
F = open("output.txt", "w")

In [51]:
F.write("Python\n")

7

In [52]:
F

In [53]:
F.close()

In [54]:
F = open("input.txt", "w")
F.write("Hello\nWorld")
F.close()
lines = []
for line in open("input.txt"):
    lines.append(line.strip())
print(lines)

['Hello', 'World']

 Introduction to Functions

In [55]:
def add(a,b):
  mysum = a + b
  return mysum

In [56]:
add(12,26)

38

In [57]:
def add_and_sub(a,b):
  mysum = a + b
  mydiff = a - b
  return (mysum, mydiff)

In [58]:
add_and_sub(12,26)

(38, -14)

In [59]:
add

In [60]:
newadd = add

In [61]:
add(9,6)

15

In [62]:
newadd(9,6)

15

In [63]:
def modify(mylist):
  mylist[0] *= 10

In [64]:
L = [1,3,5,7,9]

In [65]:
modify(L)

In [66]:
L

[10, 3, 5, 7, 9]

In [67]:
def modify(mylist):
    mylist[0] *= 10
    return(mylist)
L = [1, 3, 5, 7, 9]
M = modify(L)
M is L

True

Writing Simple Functions

In [68]:
def intersect(s1,s2):
  res = []
  for x in s1:
    if x in s2:
      res.append(x)
  return res

In [69]:
intersect([1,2,3,4,5], [3,4,5,6,7])

[3, 4, 5]

In [70]:
import random 

def password(length):
  pw = str()
  characters = "abcdef"
  for i in range(length):
      pw = pw + random.choice(characters)
  return pw

In [71]:
password(4)

'fbae'

In [72]:
password(4)

'aaae'

Common Mistakes and Errors

In [73]:
type(L)

list

In [75]:
len(L)

5