<a href="https://colab.research.google.com/github/dilaraesmer/HarvardX-PH526x-Using-Python-for-Research/blob/main/Week_1_Basics_of_Python_3_Part_3_Manipulating_Objects.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Dynamic Typing

In [ ]:
L = [1,2,3]

In [ ]:
M = [1,2,3]

In [ ]:
L == M

True

In [ ]:
L is M

False

In [ ]:
id(L)

140331843794368

In [ ]:
id(M)

140331843794816

In [ ]:
id(L) == id(M)

False

In [ ]:
L = [1,2,3]

In [ ]:
M = L

In [ ]:
M = list(L)

In [ ]:
M == L

True

In [ ]:
      x=3
y=x
y=y-1

In [ ]:
print(x)

3

In [ ]:
      L1 = [2,3,4]
L2 = L1
L2[0] = 24

In [ ]:
print(L1)

[24, 3, 4]

In [ ]:
      L = [2,3,4]
M1 = L
M2 = L[:]
M1 is M2

False

Copies

In [ ]:
import copy
x = [1,[2]]
y = copy.copy(x)
z = copy.deepcopy(x)
y is z

False

Statements

In [ ]:
if False:
    print("False!")
elif True:
    print("Now True!")
else:
    print("Finally True!")

Now True!

In [ ]:
# Assume that n is a previously defined integer.
n = 4
if n%2 == 0:
    print("even")
else:
    print("odd")

even

For and While Loops

In [ ]:
for x in range(10):
  print(x)

0
1
2
3
4
5
6
7
8
9

In [ ]:
names = ["Jim", "Tom", "Nick", "Pam", "Sam", "Tim"]

In [ ]:
names

['Jim', 'Tom', 'Nick', 'Pam', 'Sam', 'Tim']

In [ ]:
for name in names:
  print(name)

Jim
Tom
Nick
Pam
Sam
Tim

In [ ]:
for i in range(len(names)):
  print(names[i])

Jim
Tom
Nick
Pam
Sam
Tim