<a href="https://colab.research.google.com/github/dilaraesmer/HarvardX-PH526x-Using-Python-for-Research/blob/main/Week_1_Basics_of_Python_3_Part_3_Manipulating_Objects.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Dynamic Typing

In [ ]:
L = [1,2,3]

In [ ]:
M = [1,2,3]

In [ ]:
L == M

True

In [ ]:
L is M

False

In [ ]:
id(L)

140232028274880

In [ ]:
id(M)

140232028275328

In [ ]:
id(L) == id(M)

False

In [ ]:
L = [1,2,3]

In [ ]:
M = L

In [ ]:
M = list(L)

In [ ]:

M == L

True

In [ ]:
      x=3
y=x
y=y-1

In [ ]:
print(x)

3

In [ ]:
      L1 = [2,3,4]
L2 = L1
L2[0] = 24

In [ ]:


print(L1)

[24, 3, 4]

In [ ]:
      L = [2,3,4]
M1 = L
M2 = L[:]
M1 is M2

False


Copies

In [ ]:
import copy
x = [1,[2]]
y = copy.copy(x)
z = copy.deepcopy(x)
y is z

False

Statements

In [ ]:
if False:
    print("False!")
elif True:
    print("Now True!")
else:
    print("Finally True!")

Now True!

In [ ]:
# Assume that n is a previously defined integer.
n = 4
if n%2 == 0:
    print("even")
else:
    print("odd")

even

For and While Loops

In [ ]:
for x in range(10):
  print(x)

0
1
2
3
4
5
6
7
8
9

In [ ]:
names = ["Jim", "Tom", "Nick", "Pam", "Sam", "Tim"]

In [ ]:
names

['Jim', 'Tom', 'Nick', 'Pam', 'Sam', 'Tim']

In [ ]:
for name in names:
  print(name)

Jim
Tom
Nick
Pam
Sam
Tim

In [ ]:
for i in range(len(names)):
  print(names[i])

Jim
Tom
Nick
Pam
Sam
Tim

In [ ]:
age = {}
age = dict()
age = {"Dilara": 16, "Jim": 38, "Deniz": 72, "Ali": 34 }

In [ ]:
age

{'Dilara': 16, 'Jim': 38, 'Deniz': 72, 'Ali': 34}

In [ ]:
age.keys()

dict_keys(['Dilara', 'Jim', 'Deniz', 'Ali'])

In [ ]:
age.values()

dict_values([16, 38, 72, 34])

In [ ]:
for name in age.keys():
  print(name, age[name])

Dilara 16
Jim 38
Deniz 72
Ali 34

In [ ]:
for name in sorted(age.keys()):
  print(name, age[name])

Ali 34
Deniz 72
Dilara 16
Jim 38

In [ ]:
for name in sorted(age.keys(), reverse = True):
  print(name, age[name])

Jim 38
Dilara 16
Deniz 72
Ali 34

In [ ]:
is_prime = True
for i in range(2,n):
    if n%i == 0:
        is_prime = False
print(is_prime)

False

In [ ]:
n=100
number_of_times = 0
while n >= 1:
    n //= 2
    number_of_times += 1
print(number_of_times)

7

List Comprehensions

In [ ]:
numbers = range(10)

In [ ]:
squares = []

In [ ]:
for number in numbers:
  square = number**2
  squares.append(square)

In [ ]:
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
squares2 = [number**2 for number in numbers ]

In [ ]:
squares2

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
sum([i**2 for i in range(3)])

5

How can you use a list comprehension, including if and for, to sum the odd numbers from 0 through 9?

In [ ]:
number_1 = sum([ x for x in range(9) if x % 2 == 1])
number_1

16

Reading and Writing Files

In [ ]:
filename = "inputfile.txt"

In [ ]:
for line in open(filename):
  print(line)

first line

second line

third line

In [ ]:
for line in open(filename):
  line = line.strip()
  print(line)

first line
second line
third line

In [ ]:
for line in open(filename):
  line = line.rstrip()
  print(line)

first line
second line
third line

In [ ]:
for line in open(filename):
  line = line.rstrip().split(" ")
  print(line)

['first', 'line']
['second', 'line']
['third', 'line']

In [50]:
F = open("output.txt", "w")

In [51]:
F.write("Python\n")

7

In [52]:
F

In [53]:
F.close()

In [54]:
F = open("input.txt", "w")
F.write("Hello\nWorld")
F.close()
lines = []
for line in open("input.txt"):
    lines.append(line.strip())
print(lines)

['Hello', 'World']

 Introduction to Functions

In [55]:
def add(a,b):
  mysum = a + b
  return mysum

In [56]:
add(12,26)

38

In [57]:
def add_and_sub(a,b):
  mysum = a + b
  mydiff = a - b
  return (mysum, mydiff)

In [58]:
add_and_sub(12,26)

(38, -14)

In [59]:
add

In [60]:
newadd = add

In [61]:
add(9,6)

15

In [63]:
newadd(9,6)

15

In [64]:
def modify(mylist):
  mylist[0] *= 10

In [65]:
L = [1,3,5,7,9]

In [66]:
modify(L)

In [67]:
L

[10, 3, 5, 7, 9]

In [68]:
def modify(mylist):
    mylist[0] *= 10
    return(mylist)
L = [1, 3, 5, 7, 9]
M = modify(L)
M is L

True

Writing Simple Functions