<a href="https://colab.research.google.com/github/dilaraesmer/HarvardX-PH526x-Using-Python-for-Research/blob/main/Week_1_Basics_of_Python_3_Part_3_Manipulating_Objects.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Dynamic Typing

In [ ]:
L = [1,2,3]

In [ ]:
M = [1,2,3]

In [ ]:
L == M

True

In [ ]:
L is M

False

In [ ]:
id(L)

140476979475712

In [ ]:
id(M)

140364090989696

In [ ]:
id(L) == id(M)

False

In [ ]:
L = [1,2,3]

In [ ]:
M = L

In [ ]:
M = list(L)

In [ ]:

M == L

True

In [ ]:
      x=3
y=x
y=y-1

In [ ]:
print(x)

3

In [ ]:
      L1 = [2,3,4]
L2 = L1
L2[0] = 24

In [ ]:


print(L1)

[24, 3, 4]

In [ ]:
      L = [2,3,4]
M1 = L
M2 = L[:]
M1 is M2

False


Copies

In [ ]:
import copy
x = [1,[2]]
y = copy.copy(x)
z = copy.deepcopy(x)
y is z

False

Statements

In [ ]:
if False:
    print("False!")
elif True:
    print("Now True!")
else:
    print("Finally True!")

Now True!

In [ ]:
# Assume that n is a previously defined integer.
n = 4
if n%2 == 0:
    print("even")
else:
    print("odd")

even

For and While Loops

In [ ]:
for x in range(10):
  print(x)

0
1
2
3
4
5
6
7
8
9

In [ ]:
names = ["Jim", "Tom", "Nick", "Pam", "Sam", "Tim"]

In [ ]:
names

['Jim', 'Tom', 'Nick', 'Pam', 'Sam', 'Tim']

In [ ]:
for name in names:
  print(name)

Jim
Tom
Nick
Pam
Sam
Tim

In [ ]:
for i in range(len(names)):
  print(names[i])

Jim
Tom
Nick
Pam
Sam
Tim

In [ ]:
age = {}
age = dict()
age = {"Dilara": 16, "Jim": 38, "Deniz": 72, "Ali": 34 }

In [ ]:
age

{'Dilara': 16, 'Jim': 38, 'Deniz': 72, 'Ali': 34}

In [ ]:
age.keys()

dict_keys(['Dilara', 'Jim', 'Deniz', 'Ali'])

In [ ]:
age.values()

dict_values([16, 38, 72, 34])

In [ ]:
for name in age.keys():
  print(name, age[name])

Dilara 16
Jim 38
Deniz 72
Ali 34

In [ ]:
for name in sorted(age.keys()):
  print(name, age[name])

Ali 34
Deniz 72
Dilara 16
Jim 38

In [ ]:
for name in sorted(age.keys(), reverse = True):
  print(name, age[name])

Jim 38
Dilara 16
Deniz 72
Ali 34

In [ ]:
is_prime = True
for i in range(2,n):
    if n%i == 0:
        is_prime = False
print(is_prime)

False

In [ ]:
n=100
number_of_times = 0
while n >= 1:
    n //= 2
    number_of_times += 1
print(number_of_times)

7

List Comprehensions