<a href="https://colab.research.google.com/github/dilaraesmer/HarvardX-PH526x-Using-Python-for-Research/blob/main/Week_1_Basics_of_Python_3_Part_3_Manipulating_Objects.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Dynamic Typing

In [1]:
L = [1,2,3]

In [2]:
M = [1,2,3]

In [3]:
L == M

True

In [4]:
L is M

False

In [5]:
id(L)

140364091106496

In [6]:
id(M)

140364090989696

In [7]:
id(L) == id(M)

False

In [8]:
L = [1,2,3]

In [9]:
M = L

In [10]:
M = list(L)

In [11]:

M == L

True

In [12]:
      x=3
y=x
y=y-1

In [13]:
print(x)

3

In [14]:
      L1 = [2,3,4]
L2 = L1
L2[0] = 24

In [15]:


print(L1)

[24, 3, 4]

In [16]:
      L = [2,3,4]
M1 = L
M2 = L[:]
M1 is M2

False


Copies

In [17]:
import copy
x = [1,[2]]
y = copy.copy(x)
z = copy.deepcopy(x)
y is z

False

Statements

In [18]:
if False:
    print("False!")
elif True:
    print("Now True!")
else:
    print("Finally True!")

Now True!

In [19]:

# Assume that n is a previously defined integer.
n = 4
if n%2 == 0:
    print("even")
else:
    print("odd")

even

For and While Loops

In [20]:
for x in range(10):
  print(x)

0
1
2
3
4
5
6
7
8
9

In [21]:
names = ["Jim", "Tom", "Nick", "Pam", "Sam", "Tim"]

In [22]:
names

['Jim', 'Tom', 'Nick', 'Pam', 'Sam', 'Tim']

In [23]:
for name in names:
  print(name)

Jim
Tom
Nick
Pam
Sam
Tim

In [24]:
for i in range(len(names)):
  print(names[i])

Jim
Tom
Nick
Pam
Sam
Tim

In [25]:
age = {}
age = dict()
age = {"Dilara": 16, "Jim": 38, "Deniz": 72, "Ali": 34 }

In [27]:
age

{'Dilara': 16, 'Jim': 38, 'Deniz': 72, 'Ali': 34}

In [26]:
age.keys()

dict_keys(['Dilara', 'Jim', 'Deniz', 'Ali'])